body {
  font-family: Arial;
  background: #111;
  color: #eee;
}

header {
  display:flex;
  justify-content:space-between;
  padding:10px;
}

.panel, .trade-controls {
  padding:10px;
  background:#1c1c1c;
  margin:10px;
}

button {
  padding:6px 12px;
  margin:4px;
  cursor:pointer;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  border:1px solid #333;
  padding:5px;
  text-align:center;
}
